
MYSQL_CONNECTIVITY/__pycache__/functions.cpython-311.pyc
MYSQL_CONNECTIVITY/functions.py
MYSQL_CONNECTIVITY/MAIN1.py
MYSQL_CONNECTIVITY/table_function().py
pt-2_prep/TEST.py
pt-2_prep/file2.dat
pt-2_prep/file1.dat
pt-2_prep/Data_file_handling/try_except.py
pt-2_prep/Data_file_handling/std2.txt
pt-2_prep/Data_file_handling/stacky.py
pt-2_prep/Data_file_handling/stack.py
pt-2_prep/Data_file_handling/Main.py
pt-2_prep/Data_file_handling/csv_file.py
pt-2_prep/Data_file_handling/csv_file.csv
pt-2_prep/Data_file_handling/blender_stuffs.txt

pt-2_prep/csv1.py
pt-2_prep/csv.csv
pt-2_prep/binary2.py
pt-2_prep/binary1.py
pt-2_prep/DATA HANDLING/binary_text.py
pt-2_prep/DATA HANDLING/csv_demo.csv
pt-2_prep/DATA HANDLING/csv_main.py
pt-2_prep/DATA HANDLING/Don.csv
pt-2_prep/DATA HANDLING/file.txt
pt-2_prep/DATA HANDLING/file1.txt
pt-2_prep/DATA HANDLING/students.dat
pt-2_prep/DATA HANDLING/test.py
pt-2_prep/DATA HANDLING/Text_file.py
pt-2_prep/Data_file_handling/binary_file.py
